<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/c281d91181.js"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>This is the Guess the secret number game</h1>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <i class="fas fa-user-secret fa-10x"></i>
            </div>
        </div>
    </div>

{% block content %}
{% endblock content %}
</body>
</html>